@media only screen and (min-width: 600px){
    
    :root {
   
        --h2-size: 36px;
        --h3-size: 28px;
        --h4-size: 36px;
    
    }

    /* -------- LINEUP -------- */

    .lineup__sabado31-container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;

        justify-content: center;
        align-items: center;
    
        box-sizing: border-box;
        padding: 0;
    }
    
    .lineup__card{
        width: 375px;
        height: 230px;
        margin-bottom: 0px;
    }


    /* -------- LINEUP 02 -------- */

    .lineup__domingo01-container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;

        justify-content: center;
        align-items: center;
    
        box-sizing: border-box;
        padding: 0;
    }
    
    .lineup__card02{
        width: 375px;
        height: 230px;
        margin-bottom: 0px;
    }





}



@media only screen and (min-width: 990px){


    
    /* ---------- SCROLLBAR ---------- */

    body::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
    }

    body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
    }

    body::-webkit-scrollbar-thumb {
    background-color: #2b2b2b;    /* color of the scroll thumb */
    border-radius: 0px;       /* roundness of the scroll thumb */
    border: 3px solid black;  /* creates padding around scroll thumb */
    }


    body{
        width: 100vw;
        overflow-x: hidden;
    }
    
    :root {
   
        --h2-size: 48px;
        --h3-size: 28px;
        --h4-size: 36px;
    
    }

    /* -------- HEADER -------- */

    header{
        position: relative;
    }

    .header__container{
        max-width: 1240px;
    }

    .header__nav{
        all: inherit;
        
        display: flex;
        align-items: center;
        /* border: 3px purple dotted; */
    }
    
    .header__social{
        all: inherit;
        display: flex;
        flex-direction: row;
        /* width: 100px; */
    }

    .header__burger{
        display: none;
    }

    .header__navs-container{
        all: unset;

        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
    
        /* border: 1px green dotted; */
            
        }

    nav a{
        
        color: white;
        text-decoration: none;
        font-weight: 900;
        margin-left: 30px;
    }

    nav a:hover{
        color: var(--color-secondary);
    }

    .header__social{
        all: inherit;
        margin-left: 50px;
        display: flex;
        gap: 15px;
    }


/* -------- HERO -------- */

    .hero{
        height: 680px;
        overflow: hidden;
        box-sizing: border-box;
        flex-direction: row;
        justify-content: center;
    }

    .hero__logo-img{
        width: 397px;
        height: 491px;
        order: 0;
    }

    .hero__date-location{
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        /* border: 1px red solid; */
    }

    .hero__date-location span{
        margin-bottom: 30px;
    }

    .hero__date{
        text-align: center;
        
    }

    .hero__location{
        font-size: 48px;
        text-align: center;
        line-height: 45px;
    }

    .hero__boletos-container{
        display: inline;
        width: 350px;
        text-align: center;
    }

    .boletos-details{
        margin-bottom: 30px;
    }


/* -------- LINEUP -------- */

    .section-title{
        overflow: hidden;
        box-sizing: border-box;
    }
    
    .lineup__sabado31-container{
        max-width: 1240px;

        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;

        justify-content: center;
        align-items: center;
    
        box-sizing: border-box;
        padding: 0;
    }
    
    .lineup__card{
        width: calc(25% - 30px);
        height: 295px;
        margin-bottom: 0px;
    }


/* -------- LINEUP 02 -------- */

    .lineup__domingo01-container{
        max-width: 1240px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;

        justify-content: center;
        align-items: center;
    
        box-sizing: border-box;
        padding: 0;
    }
    
    .lineup__card02{
        width: calc(32.5% - 25px);
        height: 295px;
        margin-bottom: 0px;
    }


    #amigos, #machete, #explosion, #agua-caliente{
        width: calc(50% - 40px);
    }
  




}